/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.cta-flex-setting {
	border-radius: 4px;
	padding: 8px 12px 0 12px;
	background-color: #f9f9f9;
	margin-block-end: 8px;

	// field with label
	.components-base-control {
		width: 100%;

		&__field {
			margin-block-end: 0 !important;
		}
	}

	// labels
	:is(.components-toggle-control__label, .components-input-control__label) {
		text-transform: none !important;
		font-weight: 500 !important;
		font-size: 13px !important;
	}

	// select
	.components-select-control {
		align-items: center;
		flex-direction: row !important;

		.components-input-control__container {
			max-width: 110px;
		}

		&__input {
			border-color: #ddd;
			height: 22px !important;
			min-height: 22px !important;
			line-height: 1;
			font-size: 12px;
			font-weight: 500;
		}
	}

	.components-h-stack {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
